<template>
  <div>
    <loading-view :loading="initialLoading">
      <div class="action-header" :class="{ 'fixed-header': fixedHeader }">
        <div class="w-full flex items-center justify-between mb-6">
          <heading>Language Translation </heading>
          <div class="relative inline-block text-left">
            <div>
              <button
                type="button"
                class="btn btn-primary btn-default cursor-pointer"
                @click="showDropdown = !showDropdown"
                aria-expanded="true"
                aria-haspopup="true"
              >
                Import
                <!-- Heroicon name: solid/chevron-down -->
                <svg
                  class="-mr-1 ml-2 h-5 w-5"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            </div>
            <div
              class="absolute mt-2 shadow-lg bg-white import-dropdown"
              v-if="showDropdown"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="menu-button"
              tabindex="2"
            >
              <div class="py-1" role="none">
                <a
                  @click.prevent="importTranslations(item)"
                  v-for="item in otherEnv"
                  :key="item"
                  class="text-gray-700 block px-4 py-2 text-sm cursor-pointer"
                  >FROM {{ item.toUpperCase() }}</a
                >
              </div>
            </div>
          </div>

          <!-- <div class="flex-no-shrink" v-for="item in otherEnv" :key="item">
                        <a @click.prevent="importTranslations(item)" class="btn btn-default btn-primary">IMPORT FROM {{item.toUpperCase()}}</a>
                    </div> -->
          <div class="inline-flex text-right">
            <button
              type="button"
              @click="saveTranslations"
              class="
                btn btn-default btn-primary
                inline-flex
                items-center
                relative
              "
            >
              <span class="">Save</span>
            </button>
          </div>

          <div class="relative">
            <div class="flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                aria-labelledby="search"
                role="presentation"
                class="fill-current absolute search-icon-center ml-3 text-80"
              >
                <path
                  fill-rule="nonzero"
                  d="M14.32 12.906l5.387 5.387a1 1 0 0 1-1.414 1.414l-5.387-5.387a8 8 0 1 1 1.414-1.414zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                ></path>
              </svg>
              <input
                type="search"
                placeholder="Search"
                :value="search"
                ref="searchInput"
                class="pl-search w-full form-global-search"
                @keydown.enter="searchTranslations"
              />
              <button
                type="button"
                @click="searchTranslations"
                class="
                  btn btn-default btn-primary
                  inline-flex
                  items-center
                  px-4
                  ml-1
                "
              >
                Search
              </button>
            </div>
            <div class="default-lang-selector">
              <input
                type="radio"
                name="defaultLang"
                v-model="defaultLang"
                id="fr"
                value="fr"
              />
              <label for="fr" class="language-label">Fr</label>
              <input
                type="radio"
                name="defaultLang"
                v-model="defaultLang"
                id="en"
                value="en"
              />
              <label for="en" class="language-label">En</label>
              <input
                type="radio"
                name="defaultLang"
                v-model="defaultLang"
                id="default"
                value="lang"
              />
              <label for="en" class="language-label">Default</label>
              <!-- <input type="radio" name="defaultLang" v-model="defaultLang" id="de"  value="de">
                            <label for="de" class="language-label">De</label>
                            <input type="radio" name="defaultLang" v-model="defaultLang" id="es"  value="es">
                            <label for="es" class="language-label">es</label> -->
            </div>
          </div>
        </div>
        <div class="w-full flex">
          <div class="mr-2">
            <input
              class="form-control form-global-search"
              placeholder="Enter Parent Key"
              v-model="parentKey"
            />
          </div>
          <div>
            <button
              class="btn btn-primary btn-default cursor-pointer mr-2"
              @click="addNewParentTranslation()"
            >
              Add Parent Key
            </button>
          </div>
        </div>
      </div>
      <!-- <div class="flex" style="">
                <div class="w-full flex items-center mb-6">
                    <div class="flex w-full justify-end items-center mx-3"></div>
                    <div class="flex-no-shrink">
                        <div class="inline-flex">
                            <a tabindex="0" class="btn btn-link dim cursor-pointer text-80 ml-auto mr-6" v-bind:href="'/nova/language-translation'">Cancel</a>
                        </div>
                       
                    </div>
                </div>
            </div> -->
      <loading-card :loading="loading" class="card relative">
        <table
          class="table w-full"
          cellpadding="0"
          cellspacing="0"
          data-testid="resource-table"
        >
          <thead>
            <tr>
              <th>
                <span class="inline-flex items-center"> Key </span>
              </th>
              <th class="text-left">
                <span class="inline-flex items-center"> Translation Key </span>
              </th>
              <th class="text-left">
                <span class="inline-flex items-center"> French </span>
              </th>
              <th class="text-left">
                <span class="inline-flex items-center"> English </span>
              </th>
              <!-- <th class="text-left">
                          <span class="inline-flex items-center">
                             German
                          </span>
                        </th>
                        <th class="text-left">
                          <span class="inline-flex items-center">
                             Spanish
                          </span>
                        </th> -->
              <th>&nbsp;<!-- View --></th>
            </tr>
          </thead>

          <tbody
            v-for="(item, index) in filteredGroups"
            :key="index"
            :id="item.key"
          >
            <tr>
              <td colspan="2">{{ item.key.toUpperCase() }}</td>
              <td colspan="3" class="td-fit text-right pr-6 align-middle">
                <div class="inline-flex text-right" v-if="!isSearch">
                  <div style="display: block">
                    <input
                      v-if="!item.hidden"
                      class="form-control addKey"
                      name="keyName"
                      placeholder="Enter Key Name"
                    />
                    <input
                      v-if="!item.hidden"
                      class="form-control addKey"
                      name="keyValue"
                      placeholder="Enter Key Value"
                    />

                    <button
                      v-if="!item.hidden"
                      class="btn btn-primary btn-default cursor-pointer mr-2"
                      @click="addNewTranslation(index)"
                    >
                      +
                    </button>
                  </div>
                  <a
                    tabindex="0"
                    class="btn btn-default btn-primary cursor-pointer"
                    @click="hideShowTranslationGroup(item, item.hidden)"
                    >{{ item.hidden ? "Show" : "Hide" }}</a
                  >
                </div>
              </td>
            </tr>
            <template v-if="!item.hidden || isSearch">
              <tr
                v-for="(item_1, index_1) in filteredList(item.key)"
                :key="index + '-' + index_1"
              >
                <td style="width: 20%">
                  <div class="word-wrap">{{ item.key }}.{{ item_1.key }}</div>
                </td>
                <td>
                  <p>
                    {{
                      getTranslationByKey("lang", item.key, item_1.key).value
                    }}
                  </p>
                  <input
                    type="hidden"
                    :name="
                      'key' + '[' + item.key + ']' + '[' + item_1.key + ']'
                    "
                    v-model="
                      getTranslationByKey('lang', item.key, item_1.key).value
                    "
                  />
                </td>
                <td>
                  <input
                    placeholder="In French"
                    :name="'fr' + '[' + index + ']' + '[' + index_1 + ']'"
                    v-model="
                      getTranslationByKey('fr', item.key, item_1.key).value
                    "
                    class="form-control form-input form-input-bordered"
                  />
                </td>
                <td>
                  <input
                    placeholder="In English"
                    :name="'en' + '[' + index + ']' + '[' + index_1 + ']'"
                    v-model="
                      getTranslationByKey('en', item.key, item_1.key).value
                    "
                    class="form-control form-input form-input-bordered"
                  />
                </td>
                <!-- <td>
                                <input placeholder="In German" :name="'de'+'['+index+']'+'['+index_1+']'" v-model="getTranslationByKey('de',item.key,item_1.key).value" class="form-control form-input form-input-bordered" v-bind:class="getTranslationByKey('de',item.key,item_1.key).disabled">
                            </td>
                            <td>
                                <input placeholder="In Spanish" :name="'es'+'['+index+']'+'['+index_1+']'" v-model="getTranslationByKey('es',item.key,item_1.key).value" class="form-control form-input form-input-bordered" v-bind:class="getTranslationByKey('es',item.key,item_1.key).disabled">
                            </td> -->
                <td class="td-fit text-right pr-6 align-middle">
                  <div class="inline-flex items-center">
                    <!-- <span class="inline-flex">
                                        <a v-if="item_1['disabled'] !== ''" @click="editTranslation(index, index_1)" class="cursor-pointer text-70 hover:text-primary mr-3 inline-flex items-center has-tooltip">
                                            <icon type="edit" width="22" height="18" view-box="0 0 22 16" />
                                        </a> 
                                        <a v-else @click="editTranslation(index, index_1)" class="cursor-pointer text-70 hover:text-primary mr-3 inline-flex items-center has-tooltip">
                                            <svg id="Capa_1" enable-background="new 0 0 512.007 512.007" width="22" height="18" viewBox="0 0 512.007 512.007" xmlns="http://www.w3.org/2000/svg">
                                                <g>
                                                    <path d="m511.927 126.537c-.279-2.828-1.38-5.666-3.315-8.027-.747-.913 6.893 6.786-114.006-114.113-2.882-2.882-6.794-4.395-10.612-4.394-9.096 0-329.933 0-338.995 0-24.813 0-45 20.187-45 45v422c0 24.813 20.187 45 45 45h422c24.813 0 45-20.187 45-45 .001-364.186.041-339.316-.072-340.466zm-166.927-96.534v98c0 8.271-6.729 15-15 15h-19v-113zm-64 0v113h-139c-8.271 0-15-6.729-15-15v-98zm64 291h-218v-19c0-8.271 6.729-15 15-15h188c8.271 0 15 6.729 15 15zm-218 161v-131h218v131zm355-15c0 8.271-6.729 15-15 15h-92c0-19.555 0-157.708 0-180 0-24.813-20.187-45-45-45h-188c-24.813 0-45 20.187-45 45v180h-52c-8.271 0-15-6.729-15-15v-422c0-8.271 6.729-15 15-15h52v98c0 24.813 20.187 45 45 45h188c24.813 0 45-20.187 45-45v-98h2.787l104.213 104.214z"/>
                                                </g>
                                            </svg>
                                        </a>
                                    </span> -->
                    <span class="inline-flex">
                      <a
                        @click="removeTranslation(index, index_1)"
                        class="
                          cursor-pointer
                          text-70
                          hover:text-primary
                          mr-3
                          inline-flex
                          items-center
                          has-tooltip
                        "
                      >
                        <icon
                          type="delete"
                          width="22"
                          height="18"
                          view-box="0 0 22 16"
                        />
                      </a>
                    </span>
                  </div>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </loading-card>
    </loading-view>
  </div>
</template>

<script>
import _ from "lodash";

export default {
  name: "Tool",
  metaInfo() {
    return {
      title: "LanguageTranslation",
    };
  },
  data() {
    return {
      translations: [],
      translationsFr: [],
      translationsEn: [],
      translationsDe: [],
      translationsEs: [],
      defaultLang: "fr",
      otherEnv: [],
      initialLoading: true,
      loading: true,
      fixedHeader: false,
      showDropdown: false,
      search: "",
      key: "",
      fl: {},
      flg: {},
      refresh: true,
      parentKey: "",
    };
  },
  methods: {
    getTranslations() {
      Nova.request()
        .get("/nova-vendor/language-translation/translations/get-translation")
        .then((response) => {
          this.updateTranslations(response.data.translations);
          this.defaultLang = response.data.defaultLang;
          this.otherEnv = response.data.otherEnv;
          this.initialLoading = false;
          this.loading = false;
        });
    },
    updateTranslations(translations) {
      this.translations = _.cloneDeep(translations);
      this.translationsFr = this.translations.fr;
      this.translationsEn = this.translations.en;
      this.translationsDe = this.translations.de;
      this.translationsEs = this.translations.es;
    },
    saveTranslations() {
      Nova.request()
        .post(
          "/nova-vendor/language-translation/translations/save-translation",
          { translations: this.translations }
        )
        .then((response) => {
          if (response.data && response.data.message) {
            Nova.success(this.__(response.data.message));
            this.dirty = false;
          } else {
            Nova.error(this.__("Something went wrong!"));
          }
        });
    },
    addNewParentTranslation() {
      if (
        this.parentKey == undefined ||
        this.parentKey == null ||
        this.parentKey == ""
      ) {
        window.alert("Please enter something! While adding key");
        return;
      }
      let key = this.parentKey;
      let addObj = {
        key: key,
        hidden: true,
        value: [{ disabled: "disabled", key: key, prevKey: key, value: key }],
      };

      let translation = _.cloneDeep(this.translations);
      translation.fr.unshift(_.cloneDeep(addObj));
      translation.lang.unshift(_.cloneDeep(addObj));

      translation.en.unshift(_.cloneDeep(addObj));

      translation.de.unshift(_.cloneDeep(addObj));

      translation.es.unshift(_.cloneDeep(addObj));

      this.updateTranslations(translation);
      this.parentKey = "";
    },
    addNewTranslation(index) {
      let inputKey = document.querySelector("input[name=keyName]").value;
      let inputVal = document.querySelector("input[name=keyValue]").value;
      if (inputKey == "" || inputKey == null || inputKey == undefined) {
        return;
      }
      let key = inputKey;
      let value = inputVal || key;
      let addNewObj = {
        disabled: "disabled",
        key: key,
        prevKey: key,
        value: value,
      };
      let translation = _.cloneDeep(this.translations);
      translation["fr"][index]["value"].unshift(addNewObj);
      translation["lang"][index]["value"].unshift(addNewObj);
      translation["en"][index]["value"].unshift(addNewObj);
      translation["de"][index]["value"].unshift(addNewObj);
      translation["es"][index]["value"].unshift(addNewObj);
      this.updateTranslations(translation);

      document.querySelector("input[name=keyName]").value = "";
      document.querySelector("input[name=keyValue]").value = "";
      this.refresh = true;
      return;
    },
    removeTranslation(index, index_1) {
      let translation = _.cloneDeep(this.translations);
      translation["lang"][index]["value"].splice(index_1, 1);
      translation["fr"][index]["value"].splice(index_1, 1);
      translation["en"][index]["value"].splice(index_1, 1);
      translation["de"][index]["value"].splice(index_1, 1);
      translation["es"][index]["value"].splice(index_1, 1);

      this.translations = translation;
      this.refresh = true;
    },
    editTranslation(index, index_1) {
      const disabled =
        this.translations[this.defaultLang][index]["value"][index_1]
          .disabled === ""
          ? "disabled"
          : "";
      this.translations[this.defaultLang][index]["value"][index_1].disabled =
        disabled;
      this.translationsFr[index]["value"][index_1].disabled = disabled;
      this.translationsEn[index]["value"][index_1].disabled = disabled;
      this.translationsDe[index]["value"][index_1].disabled = disabled;
      this.translationsEs[index]["value"][index_1].disabled = disabled;
    },
    importTranslations(environment) {
      this.showDropdown = false;
      Nova.request()
        .post(
          "/nova-vendor/language-translation/translations/import-translation",
          { environment: environment }
        )
        .then((response) => {
          if (response.data && response.data.message) {
            Nova.success(this.__(response.data.message));
          } else {
            Nova.error(this.__("Something went wrong!"));
          }
          this.getTranslations();
        });
    },
    hideShowTranslationGroup(item, display) {
      this.loading = true;
      for (let translationKey of this.translations[this.defaultLang]) {
        translationKey.hidden = true;
      }
      item.hidden = !display;
      this.loading = false;
      this.refresh = true;
      this.scroll(item.key);
    },
    scroll(id) {
      document.getElementById(id).scrollIntoView({
        behavior: "smooth",
        block: "start",
        inline: "start",
      });
    },
    updateScroll() {
      this.fixedHeader = window.scrollY > 100;
    },
    getTranslationByKey(lang, key1, key2) {
      let group;
      switch (lang) {
        case "fr":
          group = this.translationsFr.find((t) => t.key == key1);
          if (group) {
            return group.value.find((t) => t.key == key2);
          }
          return "";

        case "en":
          group = this.translationsEn.find((t) => t.key == key1);
          if (group) {
            return group.value.find((t) => t.key == key2);
          }
          return "";

        case "de":
          group = this.translationsDe.find((t) => t.key == key1);
          if (group) {
            return group.value.find((t) => t.key == key2);
          }
          return "";

        case "es":
          group = this.translationsEs.find((t) => t.key == key1);
          if (group) {
            return group.value.find((t) => t.key == key2);
          }
          return "";

        case "lang":
          group = this.translations.lang.find((t) => t.key == key1);
          if (group) {
            return group.value.find((t) => t.key == key2);
          }
          return "";

        default:
          break;
      }
    },
    filteredList(groupKey) {
      if (this.refresh || this.key.length > 0) {
        let result;
        if (!this.translations[this.defaultLang]) {
          result = [];
        }
        const selectedGroup = this.translations[this.defaultLang].find(
          (t) => t.key == groupKey
        );

        if (!selectedGroup) result = this.translations[this.defaultLang];
        if (this.key.length > 0) {
          result = selectedGroup.value.filter(
            (t) => `${groupKey}.${t.key}` == this.key
          );
        } else {
          result = selectedGroup.value.filter(
            (t) => t.key.includes(this.search) || t.value.includes(this.search)
          );
        }
        this.fl[groupKey] = _.cloneDeep(result);
        this.refresh = false;
      }
      console.log(groupKey);

      return this.fl[groupKey];
    },
    searchTranslations() {
      this.search = this.$refs.searchInput.value;
      this.refresh = true;
      this.getFilteredGroups();
    },
    getFilteredGroups() {
      if (!this.translations[this.defaultLang]) {
        return [];
      }
      if (this.key.length == 0) {
        if (this.refresh) {
          let result;
          if (this.search.length == 0)
            result = this.translations[this.defaultLang];
          else {
            result = this.searchFromKey(
              _.cloneDeep(this.translations),
              this.search
            );
          }
          this.flg = _.cloneDeep(result);
        }

        return this.flg;
      } else {
        return this.translations[this.defaultLang].filter((t) => {
          const nestedFilter = t.value.filter(
            (tv) => `${t.key}.${tv.key}` === this.key
          );
          return nestedFilter.length > 0;
        });
      }
    },
    searchFromKey(translationObj, searchKey) {
      let parentObj = {};
      Object.keys(translationObj).map((item) => {
        let childArray = [];
        translationObj[item].map((child) => {
          let childObj = {};
          let tempArray = [];
          childObj.key = child.key;
          let filteredList = Object.entries(child.value).filter(
            ([key, val]) => val.key == searchKey || val.value == searchKey
          );

          if (filteredList.length > 0) {
            filteredList.map((item) => {
              if (Array.isArray(item)) {
                tempArray.push(item[1]);
              }
            });
            childObj.value = tempArray;
            childArray.push(childObj);
          }
        });
        parentObj[item] = childArray;
      });
      return parentObj;
    },
  },
  mounted() {
    window.addEventListener("scroll", this.updateScroll);
  },
  created() {
    this.getTranslations();
    this.search = this.$route.query.search ? this.$route.query.search : "";
    this.key = this.$route.query.key ? this.$route.query.key : "";
  },
  updated() {},
  destroy() {
    window.removeEventListener("scroll", this.updateScroll);
  },

  computed: {
    filteredGroups: function () {
      if (this.translations && !this.translations[this.defaultLang]) {
        return [];
      }
      if (this.key.length == 0) {
        if (this.refresh) {
          let result;
          if (this.search.length == 0)
            result = this.translations[this.defaultLang];
          else {
            result = this.searchFromKey(
              _.cloneDeep(this.translations),
              this.search
            );
            result = result[this.defaultLang];
          }
          this.flg = _.cloneDeep(result);
        }
        return this.flg;
      } else {
        return this.translations[this.defaultLang].filter((t) => {
          const nestedFilter = t.value.filter(
            (tv) => `${t.key}.${tv.key}` === this.key
          );
          return nestedFilter.length > 0;
        });
      }
    },

    isSearch: function () {
      return this.search.length > 0 || this.key.length > 0;
    },
  },
  watch: {
    search: function (val) {
      const query = { ...this.$route.query, search: val };
      this.$router.replace({ query });
    },
  },
};
</script>

<style>
/* Scoped Styles */
input.addKey {
  background: whitesmoke;
  border-radius: 0.5rem;
}
input.addKey:focus {
  background: whitesmoke;
  border-radius: 0.5rem;
  border: 0px;
  outline: none;
}
.fixed-header {
  position: sticky;
  z-index: 1;
  top: 0px;
}
.action-header {
  background: white;
  padding: 20px 20px 15px 20px;
}
.import-dropdown {
  width: 200px;
  z-index: 2;
  right: 0;
}
.word-wrap {
  word-wrap: anywhere;
}

.default-lang-selector {
  padding: 10px 0 0 5px;
}

.default-lang-selector > label {
  padding: 7px;
}
</style>
